* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px #6495ED;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border: 0.5px solid #4A90E2;
}
.header {
    background: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #4A90E2;
}
.header .logo {
    font-size: 24px;
    font-weight: bold;
    background: #6495ED;
    padding: 10px 20px;
    border-radius: 100px;
    color: black;
}
.nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 50px;
    padding-right: 200px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.banner {
    background: #4A90E2;
    padding: 25px;
    color: white;
    font-size: 24px;
    border: 1px solid #4A90E2;
    height: 100px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #4A90E2;
}
.breadcrumb {
    background: #FFA07A;
    padding-top: 20px;
    color: red;
    font-weight: bold;
    border: 1px solid #4A90E2;
    width: 948px;
    height: 60px;
}
.main {
    display: flex;
    /* border: 0.5px solid #4A90E2; */
}
.sidebar {
    width: 250px;
    height: 320px;
    background: #FFD700;
    padding-top: 130px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    border: 1px solid #4A90E2;
}
.content {
    width: 948px;
    padding-top: 100px;
    border: 1px solid #4A90E2;
    height: 260px;
    font-size: 25px;
}
.footer {
    background: #98FB98;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #4A90E2;
}